.header {
    position: fixed;
}

.logoFeed {
    height: 10%;
    width: 10%;
    margin-left: 35px;
    margin-top: 20px;
}

.lineFeed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineFeedHr {
    display: flex;
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
}

/* Post */
.containerPosts {
    max-height: calc(100vh - 160px);
    overflow: auto;
  }
  
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 5% auto;
    max-width: 90%;
    border-color: #0087C1;
  }
  
  .card-post {
    flex-basis: 80%;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .like-img {
    width: 50px;
    height: 50px;
  }

  .container-heart {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-post h1{
    font-size: 18px;
  }

  .card p{
    font-size: 14px;
    margin-left: 20px;
  }

  .card-post h1,
  .card-post h3,
  .card-post p {
    background-color: #ffffff;
  }
  
  .card-post h1,
  .card-post h3,
  .card-post p,
  .card-post img {
    border: none;
  }
  
  .card-post h1,
  .card-post h3,
  .card-post p {
    margin: 0;
  }
  
  .card-post h1,
  .card-post h3 {
    padding: 10px;
    padding-left: 0;
  }
  
  .card h1,
  .card p {
    margin-bottom: 5px;
  }
  
  .card:not(:last-child) {
    margin-bottom: 10px;
  }
  
  hr.lineFeed {
    border: none;
    border-top: 1px solid #000000;
    margin: 10px 0;
  }

  .container-heart {
    position: relative;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  
  .container-heart h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    color: beige;
    cursor: default;
  }

  .container-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .container-creator img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

/*Footer*/
.footerFeed {
    background-color: #0087C1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}

/*Navegador de la app*/
.navFeed {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    background-color: #0087C1;
    height: 70px;
    width: 100%;
}

.homeFeed {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #0087C1;
}

.searchFeed {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #0087C1;
}

.postFeed {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #0087C1;
    margin-bottom: 50px;
}

.chatFeed {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #0087C1;
}

.profileFeed {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: #0087C1;
}

