@font-face {
    font-family: 'Raleway';
    src: url('./font/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #002738;
    margin: 0;
    font-family: 'Raleway';
}

button {
    background-color: #0087C1;
    border-color: #0087C1;
    border-radius: 10px;
    color: white;
    box-shadow: none;
    font-size: 14px;
}